<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garfield.study">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.SingleFragmentActivity"
            android:label="@string/app_name"
            android:theme="@style/TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.viewdraghelper.activity.MainActivity" />
        <activity android:name=".ui.viewdraghelper.activity.ImageActivity" />

        <service
            android:name=".aidl.ComputerService"
            android:process=":new_process">
            <intent-filter>
                <action android:name="com.garfield.weishu.aidl" />
            </intent-filter>
        </service>

    </application>

</manifest>